.txt-9 {
	font-family: "Microsoft Sans Serif";	font-size: 9pt;	color: #888;}
.bg-barcamp{
	font-family: tahoma;
	font-size: 12pt;
	color: #000;
	background-repeat: no-repeat;
	background-position: 5px 70px;
	background-color: #E3E3E3;
	background-image: url(images/info.jpg);
}
.input {
	font-family: "Microsoft Sans Serif";
	font-size: 11pt;
	color: #888;
	background-image: url(images/input-search.jpg);
	height: 32px;
	width: 154px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-left: 10px;

}
.subscribe {
	font-family: "Microsoft Sans Serif";
	font-size: 12pt;
	color: #000;
	background-image: url(images/index-ok_46.jpg);
	height: 28px;
	width: 165px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-left: 10px;
	padding-top: 1px;
}

a:link{font-family: tahoma;	font-size: 10pt; text-decoration : none; color : #898989;}
a:visited {font-family: tahoma;	font-size:	font-size: 10pt;text-decoration : none; color : #898989;}
a:hover {font-family: tahoma;	font-size:font-size: 10pt;text-decoration : none; color : #65a3d8;}

A.s-menu:link 		{font-family: Trebuchet MS;	font-size: 9pt;COLOR:#555;	TEXT-DECORATION: none}
A.s-menu:visited 	{font-family: Trebuchet MS;	font-size: 9pt;COLOR:#555;	TEXT-DECORATION: none}
A.s-menu:hover 		{font-family: Trebuchet MS;	font-size: 9pt;COLOR:#333333;	TEXT-DECORATION: none}
A.s-menu:active 	{font-family: Trebuchet MS;	font-size: 9pt;COLOR:#555;	TEXT-DECORATION: none}


/* chanita */

#inner_body{
    background-color: #e6e6e6;

}

h1{
    color: #645BCD;
}

h2{
    color:#9790DF;
}
#content_wrapper{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 5px;
}
#content_wrapper a:link,#content_wrapper a:visited,
a:link, a:visited{
    color: #9acd32;
}

a.current{
    color: #ccc;
}

div.fieldWrapper{
    margin: 5px 0;
}

div.fieldWrapper label{
    display: inline-block;
    width: 100px;
    text-align: right;
}

div.fieldWrapper input{
    width: 300px;
}

div.fieldWrapper select{
    padding: 3px 0;
    margin-left: 2px;
}

div.fieldWrapper span.help_text{
    font-size: 11px;
    color: #666;
    margin-left: 5px;
}

div.fieldWrapper .required_mark{
    color: red;
}

div.fieldWrapper input[type="submit"]{
    margin: 10px 0;
    padding: 5px;
    float: right;
    width: auto;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #91C22F;
    font-weight: bold;
    margin-right: 3px;
}

div.fieldWrapper input[name="twitter"]{
    width: 152px;
}

div.fieldWrapper span.field_error{
    color: red;
}

table#whos_coming_list{
    width: 100%;
}

table#whos_coming_list thead{
    color: #645BCD;
    font-weight: bold;
}

table#whos_coming_list tbody tr{
    height: 35px;
    border-top: 1px solid #ccc;
}

table#whos_coming_list td{
    padding: 5px 0 5px 5px;
    vertical-align: top;
}

table#whos_coming_list .name{
    width: 20%;
}

table#whos_coming_list .email{
    width: 25%;
}

table#whos_coming_list .twitter{
    width: 15%;
}

table#whos_coming_list .website{
    width: 20%;
}

table#whos_coming_list .topics{
    width: 20%;
}