#cms_menu{

    background-color:#e6e6e6;
    background-image:url(../images/r-menu.jpg);background-position:100% 0;background-repeat:no-repeat;
}

#cms_menu_left{
    background-image:url(../images/l-menu.jpg);
    width:38px;height:50px;float:left;background-repeat:no-repeat;
}
#cms_menu_content{
    background-image: url(../images/bg-menu.jpg);
    height: 50px;margin-right:125px;
}
#cms_menu_content ul{
    padding-left:0;
}
#cms_menu_content li{
    float: left;
    list-style-type: none;
    margin-right: 4px;
    margin-left:4px;

    
}
#cms_menu_content li a, #cms_menu_content a{
    line-height: 50px;
    color: #eee;
}
#cms_menu_content li.selected a{
    color: #9ACD32;
}
#cms_menu_content_shadow{
    background-image:url(../images/index-ok_04.jpg);
    background-position:30px 0;background-color: #e6e6e6;height:17px;background-repeat:no-repeat;
}