<html>
<head>
<title>barcamp-bkk</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="css.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (index-ok.psd) -->
<table width="891" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="50" height="120" valign="bottom">&nbsp;</td>
    <td width="470" valign="bottom"><img src="images/logo-barcamp-bkk.jpg" width="459" height="109" alt=""></td>
    <td width="371" align="right"><form name="form1" method="post" action="" ><table width="186" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td >
            <label>
              <input name="search" type="text" id="search" class="input">
  </label>
            </td>
        <td width="32"><a href="#"><img src="images/submit-search.jpg" alt="" width="32" height="32" border="0"></a></td>
      </tr>
    </table></form></td>
  </tr>
</table>
<table width="891" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td colspan="3"><table width="880" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="38">&nbsp;</td>
        <td width="717">&nbsp;</td>
        <td width="125" height="30" align="right">&nbsp;<a href="#"><img src="images/face.jpg" alt="" width="28" height="27" border="0"></a> <a href="#"><img src="images/tw.jpg" alt="" width="28" height="27" border="0"></a> <a href="#"><img src="images/fk.jpg" alt="" width="28" height="27" border="0"></a></td>
      </tr>
      <tr>
        <td><img src="images/l-menu.jpg" width="38" height="50" alt=""></td>
        <td align="center" background="images/bg-menu.jpg"><a href="#">Home</a>&nbsp;&nbsp;<a href="#">Registration</a>&nbsp;&nbsp;<a href="#">What is Barcamp?</a>&nbsp;&nbsp;<a href="#">Where &amp; When</a>&nbsp;&nbsp;<a href="#">Who's Coming?</a>&nbsp;&nbsp;<a href="#">Schedules</a>&nbsp;&nbsp;<a href="#">Overnight</a>&nbsp;&nbsp;<a href="#">Events</a>&nbsp;&nbsp;<a href="#">Sponsors</a>&nbsp;&nbsp;<a href="#">Contact</a></td>
        <td><img src="images/r-menu.jpg" width="125" height="50" alt=""></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><img src="images/index-ok_06.jpg" width="20" height="22" alt=""></td>
    <td><img src="images/index-ok_04.jpg" width="841" height="22" alt=""></td>
    <td><img src="images/index_29.jpg" width="19" height="22" alt=""></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="left" valign="top"><img src="images/index_30.jpg" width="20" height="306" alt=""></td>
    <td align="left" valign="top"><img src="images/main.jpg" width="841" height="306" alt=""></td>
    <td align="left" valign="top"><img src="images/index_32.jpg" width="19" height="306" alt=""></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
    <td align="left" valign="top"><img src="images/index_33.jpg" width="20" height="23" alt=""></td>
    <td align="left" valign="top"><img src="images/index_34.jpg" width="841" height="23" alt=""></td>
    <td align="left" valign="top"><img src="images/index_35.jpg" width="19" height="23" alt=""></td>
  </tr>
  <tr>
    <td align="left" valign="top"><img src="images/spacer.gif" width="11" height="19"></td>
    <td colspan="3" align="left" valign="top"><img src="images/index-ok_13.jpg" width="880" height="19" alt=""></td>
  </tr>
  <tr>
    <td align="left" valign="top"><img src="images/index-ok_15.jpg" width="11" height="126" alt=""></td>
    <td colspan="3" align="left" valign="top" background="images/bgbarcamp.jpg" style="background-repeat:no-repeat"><table width="880" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
        <td width="260" align="center" valign="top"><table width="255" border="0" cellspacing="2" cellpadding="0">
          <tr>
            <td align="center" valign="top"><img src="images/youtube.png" width="251" height="77" alt=""></td>
          </tr>
          <tr>
            <td height="220" align="center" valign="top"><iframe width="250" height="203" src="http://www.youtube.com/embed/1J_fZfTMMAg" frameborder="0" allowfullscreen></iframe></td>
          </tr>
          <tr>
            <td height="230" align="center" valign="top"><img src="images/facebook.jpg" width="250" height="216" alt=""></td>
          </tr>
          <tr>
            <td height="63" align="center" valign="top"><img src="images/ptc.jpg" width="180" height="53" alt=""></td>
          </tr>
          <tr>
            <td height="77" align="center" valign="top"><img src="images/taradlogo.jpg" width="229" height="67" alt=""></td>
          </tr>
          <tr>
            <td height="85" align="center" valign="top"><img src="images/trend.jpg" width="224" height="75" alt=""></td>
          </tr>
          <tr>
            <td height="60" align="center" valign="top"><img src="images/codegent.jpg" width="189" height="50" alt=""></td>
          </tr>
          <tr>
            <td height="78" align="center" valign="top"><img src="images/kapook.jpg" width="192" height="68" alt=""></td>
          </tr>
          <tr>
            <td height="79" align="center" valign="top"><img src="images/google.jpg" width="192" height="69" alt=""></td>
          </tr>
          <tr>
            <td align="center" valign="top"><img src="images/dell.jpg" width="93" height="93" alt=""></td>
          </tr>
          <tr>
            <td align="center" valign="top">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="891" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="11" align="right" valign="bottom"><table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="images/index_71.jpg" width="11" height="67" alt=""></td>
      </tr>
      <tr>
        <td><img src="images/index_83.jpg" width="11" height="28" alt=""></td>
      </tr>
      <tr>
        <td><img src="images/index_91.jpg" width="11" height="12" alt=""></td>
      </tr>
    </table></td>
    <td width="330" align="left" valign="bottom"><table width="322" border="0" cellspacing="0" cellpadding="0">
      <form name="form2" method="post" action="">
        <tr>
          <td colspan="2"><img src="images/index_72.jpg" width="173" height="67" alt=""></td>
          <td><img src="images/index_73.jpg" width="29" height="67" alt=""></td>
          <td><img src="images/index_74.jpg" width="73" height="67" alt=""></td>
          <td><img src="images/index_75.jpg" width="47" height="67" alt=""></td>
        </tr>
        <tr>
          <td><img src="images/index_84.jpg" width="8" height="28" alt=""></td>
          <td><label>
            <input type="text" name="sub" id="sub" class="subscribe">
          </label></td>
          <td><img src="images/index_86.jpg" width="29" height="28" alt=""></td>
          <td><a href="#"><img src="images/subscribe.jpg" alt="" width="73" height="28" border="0"></a></td>
          <td><img src="images/index_88.jpg" width="47" height="28" alt=""></td>
        </tr>
        <tr>
          <td><img src="images/index_92.jpg" width="8" height="12" alt=""></td>
          <td><img src="images/index_93.jpg" width="165" height="12" alt=""></td>
          <td><img src="images/index_94.jpg" width="29" height="12" alt=""></td>
          <td><img src="images/index_95.jpg" width="73" height="12" alt=""></td>
          <td><img src="images/index_96.jpg" width="47" height="12" alt=""></td>
        </tr>
      </form>
    </table></td>
    <td width="550" align="right" valign="bottom"><table width="547" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="10"><img src="images/index_77.jpg" width="10" height="107" alt=""></td>
        <td width="426" align="right" valign="middle"  class="bg-barcamp">&bull; What is Barcamp?<br>
          &bull; Preparing &amp; What to Bring to Barcamp<br>
          &bull; Participate<br>
          &bull; Google Groups</td>
        <td width="104" align="center" valign="middle" bgcolor="#E3E3E3"><img src="images/qrcode.jpg" width="91" height="91" alt=""></td>
        <td width="7"><img src="images/index_80.jpg" width="7" height="107" alt=""></td>
      </tr>
    </table></td>
  </tr>
</table>
<br>
</body>
</html>