{% extends "site_base.html" %}
{% block content %}
    <form id="barcamp_registration_form" action="." method="POST">
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label_tag }}: {{ field }}
                {% if field.field.required %}<span class="required_mark">*</span>{% endif %}
                {% if field.help_text %}<span class="help_text">{{ field.help_text }}</span>{% endif %}
            </div>
        {% endfor %}
    </form>
{% endblock content %}