{% extends "site_base.html" %}
{% load i18n %}
{% block content %}
    <table id="whos_coming_list">
        <thead>
            <td class="name">{% trans "Name" %}</td>
            <td class="email">{% trans "E-mail" %}</td>
            <td class="twitter">{% trans "Twitter" %}</td>
            <td class="website">{% trans "Website" %}</td>
            <td class="topics">{% trans "Topics" %}</td>
        </thead>
        <tbody>
            {% for person in whos_coming %}
            <tr>
                <td class="name">{{ person.name }}</td>
                <td class="email">{{ person.email }}</td>
                <td class="twitter">
                    {% if person.twitter %}
                        <a href="http://twitter.com/{{ person.twitter }}" target="_blank">@{{ person.twitter }}</a>
                    {% endif %}
                </td>
                <td class="website">
                    {% if person.website %}
                        <a href="{{ person.website }}" target="_blank">{{ person.website }}</a>
                    {% endif %}
                </td>
                <td class="topics">{{ person.topics }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}