        <div class="illustration" >
            <div class="illustration_left">
                <div class="illustration_top"></div>
{#                <img src="{{ STATIC_URL }}goyz_theme/images/main.jpg" />#}
                {{ html|safe }}
                <div class="illustration_content_bottom">
                    <div class="illustration_content_bottom_left"></div>
                    <div class="illustration_content_bottom_middle"></div>
                </div><!--class="illustration_content_bottom">-->
            </div><!--class="illustration_left"-->
            <div style="clear:both;"></div>
        </div><!--class="illustration"-->