    <div id="example">
    <div id="slides">
      <div class="slides_container">
{#        <a href="http://www.spu.ac.th/" title="SPU" target="_blank"><img src="http://barcampbangkok.org/files/spu-logo.jpg" alt="Sriprathum University"></a>#}
{#        <a href="http://proteus-tech.com" title="PT" target="_blank"><img src="http://barcampbangkok.org/files/proteus-logo.jpg" alt="Proteus Technologies"></a>#}
{#        <a href="http://dell.com" title="SPU" target="_blank"><img src="http://barcampbangkok.org/files/180px-Dell.svg.png" alt="Proteus Technologies"></a>#}

          {{ html|safe }}
      </div><!--class="slides_container"-->
    </div><!--class="slides"-->
        <img src="{{ STATIC_URL }}nathan_sliders/img/example-frame.png" width="739" height="341" alt="Example Frame" id="frame">
    </div>


    