{% extends "site_base.html" %}
{% load cms_tags cache menu_tags %}
{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block extra_head_base %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}goyz_theme/css/cms_menu.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}goyz_theme/css/illustration.css" />
{% endblock extra_head_base%}
{% block body_class %}home{% endblock %}

{% block right_tabs %}
    <div id="socical_media" style="float:right;height:28px;">
        <a href="http://www.facebook.com/BarcampBangkok"><img width="28" height="27" border="0" alt="" src="{{ STATIC_URL }}goyz_theme/images/face.jpg"></a>
        <a href="http://twitter.com/barcampbangkok"><img width="28" height="27" border="0" alt="" src="{{ STATIC_URL }}goyz_theme/images/tw.jpg"></a>
        <a href="http://www.flickr.com/groups/barcampbangkok/pool/"><img width="28" height="27" border="0" alt="" src="{{ STATIC_URL }}goyz_theme/images/fk.jpg"></a>
    </div>
    <div style="clear:both;"></div>
    {#  If you don't want  logged in user menu comment line below out #}
    {#    {{ block.super }}#}
    {#    <div style="clear:both;"></div>#}
{% endblock right_tabs %}

{#  If you don't want  logged in user menu comment line below out #}
{% block subnav_super %}{% endblock %}

{% block body %}
{#    style="background-color:#e6e6e6;"#}
    <div id="inner_body" >

        <div id="cms_menu" style="">
            <div id="cms_menu_left" style=""></div>
            <div id="cms_menu_content" style="">
                {% show_menu 0 100 100 100 %}
                &nbsp;<a href="#">Registration</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Who's Coming?</a>&nbsp;&nbsp;<a href="#">Schedules</a>&nbsp;&nbsp;<a href="#">Overnight Events</a>&nbsp;&nbsp;<a href="#">Sponsors</a>&nbsp;&nbsp;<a href="#">Contact</a>
            </div><!--id="cms_menu_content"-->
            <div id="cms_menu_content_shadow" style=""></div>
        </div><!--id="cms_menu"-->

        <div id="content_wrapper">

            <div class="illustration" >

                <div class="illustration_left">
                    <div class="illustration_top"></div>
                    <img src="{{ STATIC_URL }}goyz_theme/images/main.jpg" />
                    <div class="illustration_content_bottom">
                        <div class="illustration_content_bottom_left"></div>
                        <div class="illustration_content_bottom_middle"></div>
                    </div><!--class="illustration_content_bottom">-->
                </div><!--class="illustration_left"-->
                <div style="clear:both;"></div>
            </div><!--class="illustration"-->
            {% placeholder base_content %}

            {% block base_content%}{% endblock %}
        </div><!--id="content_wrapper"-->
    </div><!--id="inner_body"-->

    


{% endblock %}
