{% extends "base.html" %}

{% load i18n %}
{% load analytics %}
{% load cache menu_tags %}

{% block extra_head_base %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/site_tabs.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}goyz_theme/css/goyz_theme.css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ STATIC_URL }}goyz_theme/css/menu.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}goyz_theme/css/illustration.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}nathan_slides/nathan_slides.css" />
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block logo_link_image %}<a href="{# {% url home %} #}/"><img src="{{ STATIC_URL }}goyz_theme/images/logo-barcamp-bkk.jpg" alt="Barcamp Bangkok"/></a>{% endblock %}

{% block login %}
    {% include "_account_bar.html" %}
    {% language_chooser %}
{% endblock %}

{% block right_tabs %}
    <div id="socical_media" style="float:right;height:28px;">
        <a href="http://www.facebook.com/BarcampBangkok" target="_blank"><img width="28" height="27" border="0" alt="" src="{{ STATIC_URL }}goyz_theme/images/face.jpg"></a>
        <a href="http://twitter.com/barcampbangkok" target="_blank"><img width="28" height="27" border="0" alt="" src="{{ STATIC_URL }}goyz_theme/images/tw.jpg"></a>
        <a href="http://www.flickr.com/groups/barcampbangkok/pool/" target="_blank"><img width="28" height="27" border="0" alt="" src="{{ STATIC_URL }}goyz_theme/images/fk.jpg"></a>
    </div>
    <div style="clear:both;"></div>
{% endblock %}

{% block footer %}
<div class="legal">
    {% trans "&copy; 2011 Barcamp Bangkok Organization" %}
</div>
{% endblock %}

{% block body %}
    <div id="inner_body" >

        <div id="cms_menu" style="">
            <div id="cms_menu_left" style=""></div>
            <div id="cms_menu_content" style="">
                {% show_menu 0 100 100 100 %}
                &nbsp;<a href="/barcamp_registration/">Registration</a>&nbsp;
                &nbsp;<a href="/barcamp_registration/whos_coming/">Who's Coming?</a>&nbsp;
                &nbsp;<a href="#">Contact</a>
            </div><!--id="cms_menu_content"-->
            <div id="cms_menu_content_shadow" style=""></div>
        </div><!--id="cms_menu"-->

        <div id="content_wrapper">
            {# We shall bring subnav back when we do the account stuff #}
{#            {% block subnav_super %}#}
{#            <div id="subnav" class="clearfix">{% block subnav_base %}<div class="clearfix">{% block subnav %}&nbsp;{% endblock %}</div>{% endblock %}</div>#}
{#            {% endblock subnav_super %}#}
            {% block content %}
            {% endblock content %}
            <div class="clearboth"></div>
        </div><!--id="content_wrapper"-->
    </div><!--id="inner_body"-->

    {% include "goyz_theme/cms/_footer.html" %}


{% endblock %}

{% block extra_body_base %}
    {% ga %}
    {% block extra_body %}{% endblock %}
{% endblock %}

{% block script_defer %}
    <script src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>
	<script src="{{ STATIC_URL }}nathan_slides/slides.min.jquery.js"></script>

    <script type="text/javascript">
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: '{{ STATIC_URL }}nathan_slides/img/loading.gif',
				play: 5000,
				pause: 1500,
				hoverPause: true,
                autoHeight:false,
                effect: "fade, slide",
                slideEasing: "easeInQuad",
                slideSpeed: 1500,
                fadeSpeed: 1000,
                fadeEasing: "easeOutQuad",
                randomize: true,
                pagination: false,
                generatePagination: false
			});
		});
	</script>

{% endblock %}
